vifm/.config/vifm/lastdir
nvim/.config/nvim/spell/en.utf-8.add.spl
nvim/.config/nvim/spell/en.utf-8.add
nvim/.config/nvim/spell/de.utf-8.spl
nvim/.config/nvim/spell/de.utf-8.add.spl
vifm/.config/vifm/vifminfo.json*
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
