! URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
! or alias merge
! ------------------------------------------------------------------------------
! // if new machine install community/urxvt-perls sync clipbord with primary
!
! *.font: xft:Iosevka\ Nerd\ Font\ Mono:style=Regular:size=16
! *.boldFont: xft:Iosevka\ Nerd\ Font\ Mono:style=Bold:size=16
! *.italicFont: xft:Iosevka\ Nerd\ Font\ Mono:style=Italic:size=16
! *.boldItalicFont: xft:\ Nerd\ Font\ MonoIosevka:style=Bold Italic:size=16

*renderTable: xft
! *xft*fontType: FONT_IS_XFT
! *xft*fontName: Sans
! *xft*fontSize: 8

Xft.dpi: 96
Xft.autohint: true
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: true

! general settings
URxvt.saveLines:        50000
URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     false
URxvt.visualBell:       true
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.meta8:            false
URxvt.metaSendsEscape:  true
URxvt.iconFile:  		/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg
URxvt.underlineURLs:    true

! appearance
URxvt.geometry: 		100x30
! Wrong window geometry hack
URxvt.geometry: 400x300

URxvt.depth:             32
!URxvt.transparent:      true
URxvt.shading:           80
URxvt.underlineColor:    #4682B4
URxvt.highlightColor:    #666666
URxvt.throughColor:      #4682B4
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.internalBorder:    0
URxvt.externalBorder:    0
URxvt.colorIT:      	 #4682B4
URxvt.colorBD:      	 #F9F9F9
URxvt.colorUL:      	 #87afd7

!!! get your color schemes from here
!!! https://terminal.sexy/
!!! copy/paste colorcodes in
!!! begin

! special
*.foreground:   #F9F9F9

URxvt.background:   [90]#14001E
!URxvt.background:	#000000
!URxvt.background:  rgba:2222/2222/2222/AAAA
!URxvt.background:  [80]#404552
!URxvt.background:  [70]#3F424A

! special
*.foreground:   #a6d6c7
*.background:   #090f0e
*.cursorColor:  #DCFFFC

! black
*.color0:       #111917
*.color8:       #d3b9f3

! red
*.color1:       #FF0078
*.color9:       #FF0078

! green
*.color2:       #07E9A9
*.color10:      #07E9A9

! yellow
*.color3:       #D5FF75
*.color11:      #D5FF75

! blue
*.color4:       #526c64
*.color12:      #89d6f6

! magenta
*.color5:       #6f9186
*.color13:      #f7c8da

! cyan
*.color6:       #92bcaf
*.color14:      #c89ff3

! white
*.color7:       #b9eddd
*.color15:      #6bc7ea

!!! end
!!! get your color schemes from here
!!! https://terminal.sexy/
!!! copy/paste colorcodes in

! fonts
URxvt.letterSpace:						1
URxvt.font:                   xft:Iosevka\ Nerd\ Font\ Mono:style=Regular:pixelsize=16:antialias=true:hinting=true, xft:NotoSansMono\ Nerd\ Font\ Mono:style=Regular:size=16, xft:UbuntuMono\ Nerd\ Font\ Mono:style=Regular:size=16
URxvt.imFont:               	xft:Iosevka\ Nerd\ Font\ Mono:style=Regular:pixelsize=16:antialias=true:hinting=true, xft:NotoSansMono\ Nerd\ Font\ Mono:style=Regular:size=16, xft:UbuntuMono\ Nerd\ Font\ Mono:style=Regular:size=16

URxvt.italicFont:           	xft:Iosevka\ Nerd\ Font\ Mono:style=Italic:pixelsize=16:antialias=true:hinting=true, xft:NotoSansMono\ Nerd\ Font\ Mono:style=Italic:size=16, xft:UbuntuMono\ Nerd\ Font\ Mono:style=Italic:size=16

URxvt.boldFont:             	xft:Iosevka\ Nerd\ Font\ Mono:style=Bold:pixelsize=16:antialias=true:hinting=true, xft:NotoSansMono\ Nerd\ Font\ Mono:style=Bold:size=16, xft:UbuntuMono\ Nerd\ Font\ Mono:style=Bold:size=16

URxvt.boldItalicFont:     		xft:Iosevka\ Nerd\ Font\ Mono:style=Bold Italic:pixelsize=16:antialias=true:hinting=true, xft:NotoSansMono\ Nerd\ Font\ Mono:style=Bold Italic:size=16, xft:UbuntuMono\ Nerd\ Font\ Mono:style=Bold Italic:size=16

!run :.!fc-list | grep <font-name>

! perl extensions
! You can install extra perl extensions you should add them here
URxvt.perl-ext-common:  default,matcher,clipboard,url-select,keyboard-select,fullscreen,resize-font
!URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

!matcher
URxvt.url-select.launcher:      /usr/bin/brave
URxvt.matcher.button:   1

! macros for resize-font - sudo pacman -S urxvt-resize-font-git
URxvt.resize-font.step:   1
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset

! macros for clipboard and selection
URxvt.clipboard.autocopy: true
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.Control-Shift-J:  perl:keyboard-select:activate
URxvt.keysym.Control-Shift-K:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt.buffered:         false

! clipboard
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste

! fix oversized cursor after setting display with aranr
Xcursor.size: 16
