[Unit]
Description=Starts bluetuith in the backgound
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/sbin/kitty -e bluetuith
ExecStartPre=/bin/sleep 5
Restart=always

[Install]
WantedBy=default.target
