[Unit]
Description=Starts chatgpt-desktop in the backgound

[Service]
ExecStart=/sbin/urxvt -e tgpt -m
Restart=always

[Install]
WantedBy=default.target
