[Unit]
Description=Starts chatgpt-desktop in the backgound

[Service]
ExecStart=/sbin/kitty --name "GpChat" -e nvim -c "GpChatNew"
Restart=always

[Install]
WantedBy=default.target
