[Unit]
Description=Starts ncpamixer in the backgound

[Service]
ExecStart=/sbin/kitty -e ncpamixer
ExecStartPre=/bin/sleep 5
Restart=always

[Install]
WantedBy=default.target
