[Unit]
Description=Protonmail client bridge service

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/bin/protonmail-bridge --no-window --noninteractive
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=default.target
