[Unit]
Description=Starts pulsemixer in the backgound

[Service]
ExecStart=/sbin/kitty -e pulsemixer
ExecStartPre=/bin/sleep 5
Restart=always

[Install]
WantedBy=default.target
