[Unit]
Description=Starts pulsemixer in the backgound

[Service]
ExecStart=/sbin/kitty -e pulsemixer
Restart=always

[Install]
WantedBy=default.target
