[Unit]
Description=Starts sixembed used to detect icons(needed for talon icon)

[Service]
ExecStart=/sbin/snixembed
ExecStartPre=/bin/sleep 5
Restart=always

[Install]
WantedBy=default.target
