[Unit]
Description=Starts speedcrunch in the backgound

[Service]
ExecStart=/sbin/speedcrunch
ExecStartPre=/bin/sleep 5
Restart=always

[Install]
WantedBy=default.target
